<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title page</title>
</head>
<body>

<h1> <%=name%></h1>
<h1> <%=description%></h1>

<h1><%=52+273%></h1>


<% for (let i=0 ; i < 10 ; i++){ %>
<h2> the suqare of <%=i%> is <%= i*i %> </h2>
 <% } %>
</body>
</html>


